<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        @Html.ActionLink("InfoTrack SEO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - William Pei</p>
        </footer>
    </div>

    <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 60px; right: 10px; z-index: 99;">
        <div class="toast-header">
            <strong class="mr-auto" id="toastHeader">
                <!--custom header to go here-->
            </strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="toastMessage">
            <!--custom message to go here-->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>